<template>
    <div>
        <table v-if="match">
            <tr>
                <td>
                    <select v-if="teams" @change="setMatchTeam($event, stage_id, match.id, '1')">
                        <option :selected="!matchTeam1Id"></option>
                        <option v-for="team in teams"
                                :value="team.id"
                                :selected="matchTeam1Id === team.id ? 'selected' : ''">
                            {{ team.name }}
                        </option>
                    </select>
                </td>
                <td>
                    <input type="text" :value="match.score1" style="width: 20px"
                           @change="setMatchScore($event, stage_id, match.id, '1')"/>
                </td>
            </tr>
            <tr>
                <td>
                    <select v-if="teams" @change="setMatchTeam($event, stage_id, match.id, '2')">
                        <option :selected="!matchTeam2Id"></option>
                        <option v-for="team in teams"
                                :value="team.id"
                                :selected="matchTeam2Id === team.id ? 'selected' : ''">
                            {{ team.name }}
                        </option>
                    </select>
                </td>
                <td>
                    <input type="text" :value="match.score2" style="width: 20px"
                           @change="setMatchScore($event, stage_id, match.id, '2')"/>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: 'matchDetail',
        props: {
            match: {
                type: Object,
            },
            stage_id: {
                type: Number
            }
        },
        computed: {
            ...mapState({
                teams: state => state.teams.teams,
            }),
            matchTeam1Id: function () {
                return _.get(this.match, 'team1.id', null);
            },
            matchTeam2Id: function () {
                return _.get(this.match, 'team2.id', null);
            },
        },
        methods: {
            setMatchTeam(event, stage_id, match_id, position) {
                this.$store.dispatch('stages/setMatchTeam', {
                    stage_id: stage_id,
                    match_id: parseInt(match_id),
                    team_id: parseInt(event.target.value),
                    position: parseInt(position),
                });
            },
            setMatchScore(event, stage_id, match_id, position) {
                this.$store.dispatch('stages/setMatchScore', {
                    stage_id: stage_id,
                    match_id: parseInt(match_id),
                    score: parseInt(event.target.value),
                    position: parseInt(position),
                });
            }
        }
    }
</script>
