<template>
    <div>
        <table>
            <tr>
                <td rowspan="3">
                    <match-detail :match="stage.match" :stage_id="stage.id"></match-detail>
                </td>
                <td rowspan="3">
                    <a href="#" v-if="stage.parent != null && stage.child1 === null && stage.child2 === null"
                       @click="deleteStage">
                        <font-awesome-icon icon="minus"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-if="stage.child1 === null" @click="addStage(1)">
                        <font-awesome-icon icon="plus"/>
                    </a>
                </td>
                <td>
                    <stage-detail
                        v-if="stage.child1 != null"
                        :stage=stage.child1
                        :parent_id="stage.id"
                        :position="1"
                    ></stage-detail>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" v-if="stage.child2 === null" @click="addStage(2)">
                        <font-awesome-icon icon="plus"/>
                    </a>
                </td>
                <td>
                    <stage-detail
                        v-if="stage.child2 != null"
                        :stage=stage.child2
                        :parent_id="stage.id"
                        :position="2"
                    ></stage-detail>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import MatchDetail from './MatchDetail.vue';
    import {library} from '@fortawesome/fontawesome-svg-core';
    import {faPlus, faMinus} from '@fortawesome/free-solid-svg-icons';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';

    library.add(faPlus, faMinus);

    export default {
        name: 'stageDetail',
        props: ['stage', 'parent_id', 'position'],
        components: {
            MatchDetail, FontAwesomeIcon
        },
        methods: {
            deleteStage() {
                this.$dialog.confirm('Вы уверены?')
                    .then((dialog) => {
                        this.$store.dispatch('stages/deleteStage', {
                            id: this.stage.id,
                            parent_id: this.parent_id,
                            position: this.position
                        });
                        dialog.close();
                    });
            },
            addStage(position) {
                this.$store.dispatch('stages/addStage', {
                    parent_id: this.stage.id,
                    position: position,
                });
            },
        }
    }
</script>
