<template>
    <div>
        <h2 class="mt-3 mb-3">Команды</h2>
        <form v-on:submit.prevent="createNewTeam" class="mt-3 mb-3">
            <div class="form-group">
                <label for="new-team">Добавить команду</label>
                <input v-model="newTeamName" id="new-team" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Добавить</button>
            </div>
        </form>
        <div>
            <ul class="list-group">
                <li v-for="item in teams" class="list-group-item">
                    {{ item.name }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import store from '../store';

    export default {
        store,
        data: function () {
            return {
                newTeamName: '',
            };
        },
        computed: {
            ...mapState({
                teams: state => state.teams.teams,
                errors: state => state.errors,
            }),
        },
        created: function () {
            this.$store.dispatch('teams/getTeams');
        },
        methods: {
            createNewTeam: function () {
                this.createTeam(this.newTeamName);
                this.newTeamName = ''
            },
            createTeam(name) {
                this.$store.dispatch('teams/createTeam', {
                    name: name,
                });
            },
        },
    }
</script>

