<template>
    <div>
        <div v-if="tournament.id" class="d-flex justify-content-between">
            <h2>
                {{ tournament.name }}
            </h2>
            <div>
                <a :href="'/stat/' + tournament.id + '/'">статистика</a>
            </div>
        </div>
        <div>
            <stage-detail
                v-if="tree != null"
                :stage=tree
            ></stage-detail>
        </div>
    </div>
</template>

<script>
    import stageDetail from './stageDetail.vue';
    import {mapState, mapGetters} from 'vuex';
    import store from '../store';

    export default {
        store,
        props: {
            tournament_id: Number,
        },
        components: {
            stageDetail
        },
        data: function () {
            return {};
        },
        computed: {
            ...mapState({
                stages: state => state.stages.stages,
                tournament: state => state.tournament.tournament,
                teams: state => state.teams.teams,
                errors: state => state.errors,
            }),
            ...mapGetters({}),
            tree: function () {
                let arr = this.stages;
                let map = {};
                let tree = {};

                for (let [key, item] of Object.entries(arr)) {
                    map[item.id] = item;
                }

                for (let [key, item] of Object.entries(arr)) {
                    if (item.child1 != null) {
                        map[item.id].child1 = map[item.child1.id];
                        map[item.child1.id].parent = item;
                    }

                    if (item.child2 != null) {
                        map[item.id].child2 = map[item.child2.id];
                        map[item.child2.id].parent = item;
                    }
                }

                for (let [key, item] of Object.entries(map)) {
                    if (item.parent == null) {
                        tree = item;
                        break;
                    }
                }

                return tree;
            },
        },
        created: function () {
            this.$store.dispatch('tournament/getTournament', {id: this.tournament_id});
            this.$store.dispatch('stages/getStages', {id: this.tournament_id});
            this.$store.dispatch('teams/getTeams');
        },
    }
</script>

