<template>
    <div>
        <div v-if="tournament.id" class="mt-3 mb-3 d-flex justify-content-between">
            <h2>
                {{ tournament.name }}
            </h2>
            <div>
                <a :href="'/tournaments/' + tournament.id + '/'">сетка</a>
            </div>
        </div>
        <table class="table table-bordered">
            <tr class="table-light">
                <th>Команда</th>
                <th>В</th>
                <th>П</th>
                <th>ГЗ</th>
                <th>ГП</th>
                <th>Макс ГЗ</th>
                <th>Макс ГП</th>
            </tr>
            <tr v-for="item in stat" class="table-light">
                <td>{{ item.team.name }}</td>
                <td>{{ item.stat.sum.is_win }}</td>
                <td>{{ item.stat.sum.is_loss }}</td>
                <td>{{ item.stat.sum.goals_scored }}</td>
                <td>{{ item.stat.sum.goals_passed }}</td>
                <td>{{ item.stat.max.goals_scored }}</td>
                <td>{{ item.stat.max.goals_passed }}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    import {mapState, mapGetters} from 'vuex';
    import store from '../store';

    export default {
        store,
        props: {
            tournament_id: Number,
        },
        components: {

        },
        data: function () {
            return {

            };
        },
        computed: {
            ...mapState({
                stat: state => state.stat.stat,
                tournament: state => state.tournament.tournament,
                errors: state => state.errors,
            }),
            ...mapGetters({}),
        },
        created: function () {
            this.$store.dispatch('tournament/getTournament', {id: this.tournament_id});
            this.$store.dispatch('stat/getStat', {tournament_id: this.tournament_id});
        },
    }
</script>

