<template>
    <div class="container">
        <h2 class="mt-3 mb-3">Все турниры</h2>
        <form v-on:submit.prevent="createNewTournament" class="mt-3 mb-3">
            <div class="form-group">
                <label for="new-tournament">Название</label>
                <input v-model="newTournamentName" id="new-tournament" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Добавить</button>
            </div>
        </form>
        <table class="table table-hover table-bordered">
            <tr class="table-light">
                <th>Название</th>
                <th>Статистика</th>
                <th>Удалить</th>
            </tr>
            <tr v-for="tournament in tournaments" class="table-light">
                <td>
                    <a :href="'/tournaments/' + tournament.id + '/'">{{ tournament.name }}</a>
                </td>
                <td>
                    <a :href="'/stat/' + tournament.id + '/'">
                        <font-awesome-icon icon="calculator"/>
                    </a>
                </td>
                <td>
                    <a href="#" @click="deleteTournament(tournament.id)">
                        <font-awesome-icon icon="trash"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
    import store from '../store';
    import {mapState} from 'vuex';
    import {library} from '@fortawesome/fontawesome-svg-core';
    import {faCalculator, faTrash} from '@fortawesome/free-solid-svg-icons';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';

    library.add(faCalculator, faTrash);

    export default {
        store,
        data: function () {
            return {
                newTournamentName: '',
            };
        },
        components: {
            FontAwesomeIcon
        },
        computed: {
            ...mapState({
                tournaments: state => state.tournaments.tournaments,
                errors: state => state.errors,
            }),
        },
        methods: {
            createNewTournament: function () {
                this.createTournament(this.newTournamentName);
                this.newTournamentName = ''
            },
            createTournament(name) {
                this.$store.dispatch('tournaments/createTournament', {
                    name: name,
                });
            },
            deleteTournament(id) {
                this.$dialog.confirm('Вы уверены?')
                    .then((dialog) => {
                        this.$store.dispatch('tournaments/deleteTournament', {
                            id: id,
                        });
                        dialog.close();
                    });
            }
        },
        created: function () {
            this.$store.dispatch('tournaments/getTournaments');
        },
    }
</script>

